<html>
<head>
    <title>Bem Vindo</title>
</head>
<body>
    <h1>Bem vindo ao nosso site 01</h1>

    <footer>
        Todos os direitos reservador &copy; 2010 - @DateTime.Now.Year
    </footer>

</body>
</html>
