
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="post" action="/home/login">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" name="email" value="" class="form-control" id="email" placeholder="Digite o seu email">
                @Html.ValidationMessage("email")
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="text" name="senha" value="" class="form-control" id="senha" placeholder="Digite a sua senha">
                @Html.ValidationMessage("senha")
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        @ViewBag.Mensagem
        
    </div>
</body>
</html>
