@model List<Site01.Models.Palavra>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Palavra - Listagem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    
    <div class="container">
        <a href="/palavra/cadastrar" class="btn btn-primary">Cadastrar</a>

        <span><b>Total de registros:</b> @Model.Count</span>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Palavra</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var palavra in Model)
                {
                    <tr>
                        <th scope="row">@palavra.Id</th>
                        <td>@palavra.Nome</td>
                        <td>@palavra.Nivel</td>
                        <td>
                            <a href="palavra/atualizar/@palavra.Id" class="btn">Editar</a>
                            <a href="palavra/excluir/@palavra.Id" class="btn">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
